<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <!-- binding the selected tab to make the tab selected-->
    <ion-segment [(ngModel)]="selectedTab" color="secondary">
      <ion-segment-button value="Announcement" routerLink="/home">
        <ion-icon name="apps-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Users">
        <ion-icon name="person-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button fill="clear" >
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>   
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-item lines="none" color="primary">
   Users
    <ion-icon name="list-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-list *ngFor="let item of Users"> 
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar> 
      <ion-label>{{item.userName}}</ion-label>
      <!-- useing the [routerLink to pass to user anouncement component by giving the id of user,note that it's dynamiq route]-->
      <ion-button expand="full" color="primary"   [routerLink]="['/user', item.id]" [disabled]="getUserAnouncementCount(item.id) === 0">
        <ion-icon name="eye-sharp" slot="end"></ion-icon>
        <!--funtion that give us the number of anouncement by user-->
        <ion-badge slot="start">{{ getUserAnouncementCount(item.id) }}</ion-badge>
        <ion-label>User Anouncements !</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
