<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-segment [(ngModel)]="selectedTab" color="secondary">
      <ion-segment-button value="Announcement" routerLink="/home">
        <ion-icon name="apps-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Users">
        <ion-icon name="person-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button fill="clear" >
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>   
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-item lines="none" color="primary">
   Users List
    <ion-icon name="list-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-list *ngFor="let item of Users" [routerLink]="['/anouncement', item.id]"> 
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{item.userName}}</ion-label>
      <ion-button expand="full" color="primary" routeLink="user/anouncement">
        <ion-icon name="folder" slot="start"></ion-icon>
        Show Anouncements
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>