<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user"></ion-back-button>
    </ion-buttons>
    <ion-title>Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let announcement of announcements">
      <ion-card class="announcement-card">
        <ion-card-header>
          <ion-card-title>{{ announcement.title }}</ion-card-title>
          <ion-card-subtitle>{{ announcement.subtitle }}</ion-card-subtitle>
        </ion-card-header>
 <!-- applying the pipe of date with medium-->
 <!-- applying the postion of icons slot Start or End-->
        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>{{ announcement.createdAt | date: 'medium' }}</ion-label>
          <ion-button shape="round" fill="outline">
            <ion-icon [name]="getStatusIcon(announcement.status)" slot="end"></ion-icon>
            <ion-label>{{ getStatusLabel(announcement.status) }}</ion-label>
          </ion-button>             
        </ion-item>

        <ion-item>
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-label>{{ getCategoryLabel(announcement.category) }}</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-textarea>
            {{announcement.content}}
          </ion-textarea>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
